<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <test  name="HomePageTests">
        <parameter name="appURL" value="http://localhost:8080/"/>
        <parameter name="browserType" value="chrome"/>
        <classes>
            <class name="pl.mmazur.movieclub.testcases.HomePageTest"/>
        </classes>
    </test> <!-- Test -->

    <test  name="LoginPageTests">
        <parameter name="appURL" value="http://localhost:8080/login"/>
        <parameter name="browserType" value="chrome"/>
        <classes>
            <class name="pl.mmazur.movieclub.testcases.LoginPageTests"/>
        </classes>
    </test>

    <test name="RegisterPageTests">
        <parameter name="appURL" value="http://localhost:8080/rejestracja"/>
        <parameter name="browserType" value="chrome"/>
        <classes>
            <class name="pl.mmazur.movieclub.testcases.RegisterPageTests"/>
        </classes>
    </test>

</suite> <!-- Suite -->